<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>194780929747-1ub22o5bdjk2o1cvpa0seb5s4csiuris.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.194780929747-1ub22o5bdjk2o1cvpa0seb5s4csiuris</string>
	<key>API_KEY</key>
	<string>AIzaSyA6cc3NSJyWpbh6AN84XbYBvVW8ikAwMW8</string>
	<key>GCM_SENDER_ID</key>
	<string>194780929747</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nawaf.Flamy</string>
	<key>PROJECT_ID</key>
	<string>xcode-8111f</string>
	<key>STORAGE_BUCKET</key>
	<string>xcode-8111f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:194780929747:ios:bdf3bd962c16dbdef93e26</string>
	<key>DATABASE_URL</key>
	<string>https://xcode-8111f.firebaseio.com</string>
</dict>
</plist>